footer {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 60px 0;
  width: 100%;
  font-size: 14px;
}
.top {
  display: flex;
  grid-column: 2;
  justify-content: space-between;
}
.bottom {
  display: flex;
  grid-column: 2;
  justify-content: space-between;
}

.bottom .left {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.bottom .right {
  display: flex;
  text-align: right;
  align-items: flex-end;
  padding-bottom: 10px;
}

.txt_us_btn {
  background-color: var(--text-light-blue);
  border: 1px solid var(--text-light-blue);
  cursor: pointer !important;
  margin: 0;
  transition: 0.4s;
  white-space: nowrap;
  border-radius: 2px;
  padding: 8px 15px;
  font-size: 16px;
}
.txt_us_btn:hover {
  background-color: #d5d5d5;
  border: 1px solid #d5d5d5;

  & span {
    color: #3a3939;
  }
}

footer span {
  padding: 10px 0;
}

@media (max-width: 1024px) {
  footer a {
    font-weight: lighter;
  }
  footer {
    position: relative;
    padding-bottom: 100px;
  }
  /* .txt_us_btn {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);d
  } */
}
.txt_us_btn.mobile{
display: none;
}
.tbc_logo_mobile{
  display: none;
  width: 100%;
  grid-column: 2;
  padding:20px 0;
}

@media(max-width:720px){
  .footer{
    flex-direction: column;
  }
  .tbc_logo_mobile{
    display: flex;
  }
  .tbc_logo{
    display: none;
  }
  .txt_us_btn.desktop{
    display: none;
  }
  .bottom.right{
    display: none;

  }
  .txt_us_btn.mobile{
    display: flex;
    }

}