.section_3 {
  display: grid;
  background-color: var(--bg-light);
  grid-template-columns: var(--grid-template-columns);
  width: 100%;
  color: var(--text-main);
  overflow: hidden;
  padding: 35px 0;
  position: relative;
}

.section_3_header {
  grid-column: 2;
  display: flex;
  font-size: 24px;
  line-height: normal;
  padding-bottom: 35px;
}

.section_3_inner {
  display: grid;
  grid-column: 2;
}
/* Slider Controls */

.slider_controls {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.slider_controls button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 9;
  top: 50%;
}

@media (max-width: 768px) {
  .slider_controls button {
    display: none;
  }
}
.slider_controls button:hover {
  opacity: 0.6;
}

.prev-btn {
  grid-column: 1;
  margin: 0 auto;
}

.next-btn {
  grid-column: 3;
  margin: 0 auto;
}

.slider_controls svg {
  fill: rgb(232, 230, 230, 1);
  stroke: rgb(232, 230, 230, 1);
  stroke-width: 1px;
  width: 18px;
  height: 35px;
}

.next-btn svg {
  transform: scaleX(-1);
}
/* dots */
.dots_container {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 10%;
}
.dots {
  grid-column: 2;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.dot {
  margin: 0 10px;
  cursor: pointer;
  z-index: 20;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #888;
  cursor: pointer;
  left: 50%;
}

.dot.active {
  background-color: #333;
}

/* SLIDER LOGIC */
.slider_container {
  gap: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  transition: 1000ms;
}

.slides {
  display: flex;
  width: 100%;
  padding-bottom: 35px;
  transition: transform 0.8s cubic-bezier(0.37, 0, 0.63, 1);
}

.slide {
  box-sizing: border-box;
  flex: 0 0 100%; /* Each slide takes full width */
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 1024px) {
  .section_3_header {
    font-size: 18px;
  }
  .slide {
    flex-direction: column;
  }
  .slide img {
    margin: 10px auto;
  }
}
@media (max-width: 980px) {
  .card {
    min-width: 280px;
  }
}
